In [1]:
import vazoes

In [2]:
base = vazoes.Estacao('dados/vazoes/vazoes_C_70500000.csv')
e1 = vazoes.Estacao('dados/vazoes/vazoes_C_70100000.csv')
e2 = vazoes.Estacao('dados/vazoes/vazoes_C_70300000.csv')
e3 = vazoes.Estacao('dados/vazoes/vazoes_C_86160000.csv')

In [3]:
base.data.head()

,EstacaoCodigo,NivelConsistencia,Data,Hora,MediaDiaria,MetodoObtencaoVazoes,Maxima,Minima,Media,DiaMaxima,...,Vazao22Status,Vazao23Status,Vazao24Status,Vazao25Status,Vazao26Status,Vazao27Status,Vazao28Status,Vazao29Status,Vazao30Status,Vazao31Status
0,70500000,Bruto,01/08/2020,NaN,Sim,Curvadedescarga,"138,103","4,252","16,296",15.0,...,Real,Real,Real,Real,Real,Real,Real,Real,Real,Real
1,70500000,Bruto,01/07/2020,NaN,Sim,Curvadedescarga,"141,355","7,508","29,344",8.0,...,Real,Real,Real,Real,Real,Real,Real,Real,Real,Real
2,70500000,Bruto,01/06/2020,NaN,Sim,Curvadedescarga,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Branco
3,70500000,Bruto,01/05/2020,NaN,Sim,Curvadedescarga,NaN,NaN,NaN,NaN,...,Branco,Real,Real,Real,Real,Real,Branco,Branco,Branco,Branco
4,70500000,Bruto,01/04/2020,NaN,Sim,Curvadedescarga,NaN,NaN,NaN,NaN,...,Branco,Branco,Branco,Branco,Branco,Branco,Branco,Branco,Branco,Branco

In [4]:
base.data.columns

Index(['EstacaoCodigo', 'NivelConsistencia', 'Data', 'Hora', 'MediaDiaria',
       'MetodoObtencaoVazoes', 'Maxima', 'Minima', 'Media', 'DiaMaxima',
       'DiaMinima', 'MaximaStatus', 'MinimaStatus', 'MediaStatus',
       'MediaAnual', 'MediaAnualStatus', 'Vazao01', 'Vazao02', 'Vazao03',
       'Vazao04', 'Vazao05', 'Vazao06', 'Vazao07', 'Vazao08', 'Vazao09',
       'Vazao10', 'Vazao11', 'Vazao12', 'Vazao13', 'Vazao14', 'Vazao15',
       'Vazao16', 'Vazao17', 'Vazao18', 'Vazao19', 'Vazao20', 'Vazao21',
       'Vazao22', 'Vazao23', 'Vazao24', 'Vazao25', 'Vazao26', 'Vazao27',
       'Vazao28', 'Vazao29', 'Vazao30', 'Vazao31', 'Vazao01Status',
       'Vazao02Status', 'Vazao03Status', 'Vazao04Status', 'Vazao05Status',
       'Vazao06Status', 'Vazao07Status', 'Vazao08Status', 'Vazao09Status',
       'Vazao10Status', 'Vazao11Status', 'Vazao12Status', 'Vazao13Status',
       'Vazao14Status', 'Vazao15Status', 'Vazao16Status', 'Vazao17Status',
       'Vazao18Status', 'Vazao19Status', 'Vazao20Status', 'Vazao21Status',
       'Vazao22Status', 'Vazao23Status', 'Vazao24Status', 'Vazao25Status',
       'Vazao26Status', 'Vazao27Status', 'Vazao28Status', 'Vazao29Status',
       'Vazao30Status', 'Vazao31Status'],
      dtype='object')

In [5]:
estacoes = vazoes.Estacoes(base, [e1, e2, e3])

AttributeError: 'DataFrame' object has no attribute 'code'

In [10]:
base.data[['Media', 'Vazao01', 'Vazao02', 'Vazao03',
       'Vazao04', 'Vazao05', 'Vazao06', 'Vazao07', 'Vazao08', 'Vazao09',
       'Vazao10', 'Vazao11', 'Vazao12', 'Vazao13', 'Vazao14', 'Vazao15',
       'Vazao16', 'Vazao17', 'Vazao18', 'Vazao19', 'Vazao20', 'Vazao21',
       'Vazao22', 'Vazao23', 'Vazao24', 'Vazao25', 'Vazao26', 'Vazao27',
       'Vazao28', 'Vazao29', 'Vazao30', 'Vazao31']].head(30)

,Media,Vazao01,Vazao02,Vazao03,Vazao04,Vazao05,Vazao06,Vazao07,Vazao08,Vazao09,...,Vazao22,Vazao23,Vazao24,Vazao25,Vazao26,Vazao27,Vazao28,Vazao29,Vazao30,Vazao31
0,"16,296","9,646","9,153","8,67","7,964","7,508","7,062","6,626","6,202","5,19",...,"14,242","11,721","10,15","9,398","8,91","8,197","7,508","6,626","6,202","5,789"
1,"29,344","21,877","16,954","17,898","39,029","22,223","48,541","82,925","141,355","55,827",...,"10,406","9,897","9,398","8,432","7,964","7,508","17,581","39,029","16,029","11,453"
2,NaN,NaN,NaN,NaN,NaN,NaN,"4,252","4,618","2,605","1,775",...,"1,294","1,077","0,974","1,905","9,153","6,842","5,789","8,91","40,778",NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,"0,376","0,192","0,098","0,061","0,031",NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"0,376","0,376","0,248",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,"3,388","2,908","2,605","2,038","1,775","1,527","1,294","1,184","1,077",...,"0,376","0,192","0,142","0,061",NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,"0,376","0,31","0,524","4,252","2,174","1,409","2,174","1,294","0,974",...,NaN,NaN,NaN,NaN,NaN,"5,387","4,433","3,555",NaN,NaN
7,"2,006","0,781","0,691","0,605","0,605","0,524","0,448","0,376","0,31","0,248",...,"0,974","0,781","0,691","0,605","0,524","0,376","0,31","2,605","0,781","0,524"
8,"3,039","2,755","2,605","2,314","2,038","1,905","1,775","1,649","1,775","1,775",...,"3,388","2,314","1,775","1,527","1,294","1,077","0,875","0,691","0,524","0,448"
9,"20,214","36,464","22,223","14,828","11,992","201,655","74,355","33,56","26,536","21,534",...,"3,724","3,555","3,388","3,225","3,065","4,997","4,073","3,555","3,225",NaN
10,"13,913","1,409","2,314","3,724","2,605","4,618","9,398","12,818","8,432","4,433",...,"11,188","7,062","6,413","5,387","4,997","6,202","29,19","13,098","8,91","137,563"
11,"3,06","2,908","2,314","2,038","1,775","1,649","2,605","7,735","5,19","3,388",...,"4,433","3,388","2,605","2,174","2,038","1,905","1,775","1,649","1,527",NaN
12,"2,596","4,252","4,997","4,618","3,897","3,555","3,225","3,065","3,065","2,908",...,"2,314","2,174","2,038","1,905","1,775","1,649","1,527","1,409","1,294","1,527"
13,"24,352","57,332","139,185","221,846","72,685","30,358","19,518","13,953","11,453","9,646",...,"5,387","4,997","4,806","6,626","8,67","6,842","5,19","4,618","5,19","4,618"
14,"7,953","33,152","20,181","14,534","12,264","10,924","9,897","8,91","7,964","7,508",...,"4,252","4,073","3,897","3,555","4,997","7,062","5,994","5,19","5,387",NaN
15,"31,862","6,842","5,789","5,19","19,189","13,098","19,848","14,242","9,897","8,197",...,"12,264","83,51","96,155","56,327","26,165","52,376","29,19","20,181","108,348","140,812"
16,"7,125","1,527","1,294","1,077","0,875","0,781","4,252","8,67","10,664","7,735",...,"4,252","3,897","3,555","3,388","3,225","3,555","50,444","13,953","7,964",NaN
17,"8,412","4,252","3,555","3,225","3,065","3,065","38,167","17,266","14,242","19,189",...,"4,997","4,618","4,073","7,283","4,618","3,897","3,065","2,605","2,038","1,775"
18,"7,976","14,242","9,153","10,924","7,964","5,994","4,997","4,252","3,555","3,388",...,"8,67","6,413","5,587","8,432","7,964","5,789","4,618",NaN,NaN,NaN
19,"8,496","3,388","2,038","1,905","3,724","2,908","2,605","2,314","2,174","1,905",...,"8,67","7,964","19,518","9,897","7,735","6,626","5,789","4,433","3,724","4,252"
20,"6,113","23,273","10,664","7,062","5,587","4,618","3,897","3,555","3,388","2,908",...,"17,266","11,188","8,67","7,283","6,202","5,19","4,252","3,555","2,908","2,605"
21,"18,357","26,909","13,38","69,391","72,685","21,877","13,665","10,15","8,432","7,508",...,"6,202","5,387","11,721","16,954","10,924","12,264","9,646","8,67","72,132",NaN
22,"15,261","10,924","11,453","38,597","20,516","12,54","10,406","9,398","8,432","9,897",...,"5,789","4,997","4,618","4,252","3,897","8,67","7,508","7,062","6,413","47,6"
23,"27,016","201,052","109,356","67,229","72,132","38,597","27,284","22,223","16,029","12,54",...,"8,91","7,964","16,029","12,264","16,335","7,735","6,626","6,202","5,789",NaN
24,"11,789","8,432","7,508","6,626","6,202","5,789","5,387","4,806","5,587","13,38",...,"27,661","18,539","56,829","25,065","17,898","11,453","8,432","7,964","7,062","6,413"
25,"15,885","19,848","15,424","19,848","68,307","57,332","30,751","19,189","13,098","12,818",...,"6,202","5,789","5,19","12,54","21,192","14,828","10,664","11,453","10,406","9,398"
26,"9,195","1,409","2,458","2,174","2,314","3,388","3,724","3,388","2,605","2,314",...,"2,458","2,314","4,073","11,453","39,464","16,643","12,818","39,9","40,338",NaN
27,"2,541","1,527","1,409","1,409","1,294","1,184","1,184","3,724","2,755","2,038",...,"4,252","3,065","2,605","2,314","2,038","1,905","1,905","1,649","1,649","1,527"
28,"4,983","16,643","11,992","11,992","8,91","7,062","6,202","5,19","4,618","4,252",...,"5,587","3,724","2,908","2,458","2,174","1,905","1,775","1,649","1,649",NaN
29,"6,152","3,225","6,842","4,073","3,555","2,605","2,458","2,314","2,174","2,038",...,"6,202","4,073","4,433","19,518","11,992","8,67","7,283","22,223","16,954","19,189"